/* ***** */
/* Reset */
/* ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: var(--fs-400, 1.125rem);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white, black);
}

body {
  font-family: var(--ff-sans-normal, sans-serif);
  font-size: var(--fs-400, 1.125rem);
  font-weight: var(--fw, 400);
  color: var(--clr-body-color, black);
  background-color: var(--clr-body-bg, white);
  line-height: var(--line-height, 1.5);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
  background: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********* */
/* UTILITIES */
/* ********* */

/* General utils */

.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    color: var(--clr-neon-green);
  }
}
